.root {
display: block;
-fx-background-color: rgb(201, 76, 77);;
}

.fontStyle{
-fx-font-size: 16;
-fx-font-family: "Comic Sans MS";
}

.button{
}

.label{
-fx-text-fill: blue;
}

.borders{
-fx-border-color: black;
-fx-border-style: dashed;
-fx-border-width: 2;
}